boto3==1.35.34
celery==5.4.0
dj-database-url==2.2.0
Django==5.1.1
django-ckeditor==6.7.1
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-filter==24.3
django-formtools==2.5.1
django-jinja==2.11.0
django-storages==1.14.4
django-tinymce==4.1.0
django-treebeard==4.7.1
gunicorn==23.0.0
Jinja2==3.1.4
Pillow==10.4.0
psycopg2-binary==2.9.9
requests==2.32.3
sendgrid==6.11.0
sentry-sdk==2.15.0
websockets==13.1
whitenoise==6.7.0
django_htmx==1.19.0
social-auth-app-django==5.4.2
django-model-utils==5.0.0
django_lifecycle==1.2.4
jsonformat==0.0.11
platformdirs==4.3.6

# Test dependencies.
playwright==1.47.0
pytest-django==4.9.0
model_bakery==1.19.5
pytest-cov==5.0.0

# Pre-commit hook
pre-commit==3.8.0
